{% extends "base.html" %}
{% load static %}
{% block title %}Eliminar Inmueble{% endblock %}

{% block content %}

    <div class="container">

        <div class="text-center my-4">
            <h2>Eliminar Inmueble</h2>
        </div>

        <div class="alert alert-danger" role="alert">
            <h3><p>¿Estás seguro de que deseas eliminar el inmueble "{{ inmueble.nombre }}"?</p></h3>
        </div>

        <div class="d-inline-flex mt-5">

            <span>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
            </span>

            <span class="ms-4">
                <a class="btn btn-secondary ms-4" href="{% url 'dashboard' %}">Cancelar</a>
            </span>

        </div>

    </div>

{% endblock %}